@charset "UTF-8";
/* 共通ボタン */
/* -------------------------
リセットCSS
------------------------- */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
dl,
li,
dt,
dd,
p,
div,
span,
img,
a,
table,
tr,
th,
td,
figure,
figcaption {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  vertical-align: bottom;
  border: none;
}

li {
  list-style: none;
}

header a,
footer a {
  text-decoration: none;
}

input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

/* -------------------------
BASE（共通）
------------------------- */
body {
  font-size: 1rem;
  line-height: 1.6875;
  letter-spacing: 0em;
  color: #333333;
  font-family: "ヒラギノ明朝 ProN", "Hiragino Mincho ProN", "Yu Mincho Light", "YuMincho", "Yu Mincho", "游明朝体", serif;
}

.main {
  padding-top: 70px;
}

@media screen and (max-width: 767px) {
  .main {
    padding-top: 60px;
  }
}

/* コンテンツインナー幅設定 */
.inner {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 40px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

@media screen and (max-width: 767px) {
  .inner {
    padding: 0 15px;
  }
}

.section {
  margin-top: 156px;
}

@media screen and (max-width: 767px) {
  .section {
    margin-top: 92px;
  }
}

/* セクションタイトル設定 */
.sectionTitle {
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 1em;
  letter-spacing: 0;
  font-family: "ヒラギノ明朝 ProN", "Hiragino Mincho ProN", "Yu Mincho Light", "YuMincho", "Yu Mincho", "游明朝体", serif;
  text-align: center;
  position: relative;
}

.sectionTitle::before {
  content: "";
  position: absolute;
  bottom: -16px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 60px;
  height: 1px;
  background-color: #3EA1D1;
}

/* ボタン中央寄せ */
.btn-center {
  text-align: center;
}

/* ボタンhoverアクション */
.btn-hover:hover {
  background-color: #3EA1D1;
  color: #FFF;
}

/* -------------------------
補完クラス
------------------------- */
/* PCだけ非表示 */
@media screen and (min-width: 1200px) {
  .hidden-pc {
    display: none;
  }
}

/* タブレットだけ非表示 */
@media (min-width: 768px) and (max-width: 1199px) {
  .hidden-tab {
    display: none;
  }
}

/* スマホだけ非表示 */
@media screen and (max-width: 767px) {
  .hidden-sp {
    display: none;
  }
}

/* -------------------------
ドロワーメニュー調整
------------------------- */
.drawer-hamburger {
  z-index: 40;
  display: none;
  width: 34px;
  height: 60px;
  padding: 0;
  margin: 0 15px 0 0;
  right: 0;
}

@media screen and (max-width: 767px) {
  .drawer-hamburger {
    display: block;
  }
}

@media screen and (max-width: 767px) {
  .drawer--right .drawer-nav {
    right: -270px;
  }
}

.drawer--right.drawer-open .drawer-hamburger {
  right: 0;
}

.drawer-hamburger-icon {
  background-color: #3EA1D1;
  margin-top: 0;
}

.drawer-hamburger-icon::before {
  top: -9px;
  background-color: #3EA1D1;
}

.drawer-hamburger-icon::after {
  top: 9px;
  background-color: #3EA1D1;
}

.drawer-overlay {
  z-index: 15;
  background-color: transparent;
}

/* -------------------------
ヘッダー
------------------------- */
.header {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #FFF;
  width: 100vw;
  height: 70px;
  z-index: 20;
  /* ナビゲーション */
}

@media screen and (max-width: 767px) {
  .header {
    height: 60px;
  }
}

.header__inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.header__logo {
  width: 120px;
}

.header__logo-link {
  display: block;
  line-height: 70px;
  -webkit-transition: all .4s ease 0s;
  transition: all .4s ease 0s;
}

@media screen and (max-width: 767px) {
  .header__logo-link {
    line-height: 60px;
  }
}

.header__logo-link:hover {
  opacity: .7;
}

.header__logo-link img {
  vertical-align: baseline;
}

.header__nav {
  margin-left: auto;
}

@media screen and (max-width: 767px) {
  .header__nav {
    z-index: 30;
    background-color: #3EA1D1;
    width: 270px;
    top: 60px;
  }
}

@media screen and (max-width: 767px) {
  .header__nav-lists {
    text-align: right;
    padding: 30px 13px 30px 160px;
  }
}

.header__nav-list {
  display: inline-block;
}

@media screen and (max-width: 767px) {
  .header__nav-list {
    display: block;
    padding: 10px 0;
  }
}

.header__nav-list:not(:first-child) {
  margin-left: 46px;
}

@media screen and (max-width: 1199px) {
  .header__nav-list:not(:first-child) {
    margin-left: 32px;
  }
}

@media screen and (max-width: 767px) {
  .header__nav-list:not(:first-child) {
    margin-left: 0;
    margin-top: 8px;
  }
}

.header__nav-link {
  display: block;
  color: #333333;
  line-height: 70px;
  letter-spacing: 1.6px;
  text-decoration: none;
  -webkit-transition: all .4s ease 0s;
  transition: all .4s ease 0s;
}

@media screen and (max-width: 767px) {
  .header__nav-link {
    color: #FFF;
    padding: 0;
    font-size: 1.125rem;
    font-weight: 600;
    letter-spacing: 1.8px;
    line-height: 1.72222;
  }
}

.header__nav-link:hover {
  color: #3EA1D1;
}

@media screen and (max-width: 767px) {
  .header__nav-link:hover {
    color: #FFF;
    text-decoration: none;
    opacity: .7;
  }
}

/* -------------------------
ファーストビュー｜fv
------------------------- */
.fv {
  position: relative;
}

.fv__img {
  padding-top: 55%;
  background: #FFF url(../../../public/assets/img/PC/top.png) no-repeat right top/82.5%;
}

@media screen and (max-width: 1199px) {
  .fv__img {
    padding-top: 120%;
    background: #FFF url(../../../public/assets/img/SP/top.png) no-repeat center center/cover;
  }
}

.fv__container {
  background-color: #FFF;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  padding: 82px 42px 92px 0;
}

@media screen and (max-width: 1199px) {
  .fv__container {
    padding: 68px 28px 78px 0;
  }
}

@media screen and (max-width: 1199px) {
  .fv__container {
    position: static;
    top: 0;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    padding: 30px 0 0 0;
  }
}

.fv__title {
  font-size: 1.625rem;
  font-weight: 600;
  line-height: 1.69231;
}

.fv__text {
  font-weight: 300;
  margin-top: 12px;
}

@media screen and (max-width: 767px) {
  .fv__text {
    margin-top: 18px;
  }
}

/* -------------------------
コンセプト1｜Concept1
------------------------- */
.concept1__wrapper {
  margin-top: 76px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1199px) {
  .concept1__wrapper {
    margin-top: 62px;
    display: block;
  }
}

.concept1__img {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 50%;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.concept1__img img {
  -o-object-fit: contain;
     object-fit: contain;
}

@media screen and (max-width: 1199px) {
  .concept1__img img {
    width: 100%;
    height: 100%;
  }
}

.concept1__container {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 50%;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  margin-left: 6.6667%;
}

@media screen and (max-width: 1199px) {
  .concept1__container {
    margin: 32px 0 0 0;
  }
}

.concept1__title {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.7;
}

.concept1__text {
  margin-top: 23px;
  font-weight: 300;
}

@media screen and (max-width: 1199px) {
  .concept1__text {
    margin-top: 19px;
  }
}

/* -------------------------
特徴｜Feature
------------------------- */
.feature__wrapper {
  margin-top: 76px;
}

@media screen and (max-width: 767px) {
  .feature__wrapper {
    margin-top: 62px;
  }
}

.feature__cards {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 1199px) {
  .feature__cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.feature__card {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 calc(340 / 1200 * 100%);
      -ms-flex: 0 0 calc(340 / 1200 * 100%);
          flex: 0 0 calc(340 / 1200 * 100%);
  max-width: 340px;
  -webkit-box-shadow: 3px 3px 15px rgba(96, 96, 96, 0.16);
          box-shadow: 3px 3px 15px rgba(96, 96, 96, 0.16);
}

@media screen and (max-width: 1199px) {
  .feature__card:not(:first-child) {
    margin-top: 48px;
  }
}

.feature__link {
  display: block;
  text-decoration: none;
  color: #333333;
}

.feature__link:hover img {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.feature__img {
  overflow: hidden;
}

.feature__img img {
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all .4s ease-out 0s;
  transition: all .4s ease-out 0s;
}

.feature__text {
  font-weight: 600;
  text-align: center;
  padding: 26px 0;
}

/* -------------------------
メッセージ｜Message
------------------------- */
.message {
  background: #FFF url(../../../public/assets/img/PC/bg.png) no-repeat center top/cover;
  color: #FFF;
  position: relative;
}

@media screen and (max-width: 767px) {
  .message {
    background: #FFF url(../../../public/assets/img/SP/bg.png) no-repeat top center/cover;
  }
}

.message::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.12);
  border: 1px solid rgba(112, 112, 112, 0.12);
}

.message__container {
  position: relative;
  z-index: 5;
  padding: 120px 0 124px;
}

@media screen and (max-width: 767px) {
  .message__container {
    padding: 176px 0 54px;
  }
}

.message__title {
  font-size: 1.375rem;
  font-weight: 600;
  line-height: 1.68182;
}

@media screen and (max-width: 767px) {
  .message__title {
    font-size: 1.25rem;
    line-height: 1.7;
  }
}

.message__text {
  font-weight: 600;
  margin-top: 26px;
}

@media screen and (max-width: 767px) {
  .message__text {
    font-size: 0.875rem;
    line-height: 1.71429;
    margin-top: 22px;
  }
}

/* -------------------------
製品｜Products
------------------------- */
.products__wrapper {
  margin: 76px auto 0;
  max-width: 940px;
}

@media screen and (max-width: 767px) {
  .products__wrapper {
    margin: 62px auto 0;
  }
}

.products__cards {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 1199px) {
  .products__cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 11.5vw;
  }
}

.products__card {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 calc(260 / 940 * 100%);
      -ms-flex: 0 0 calc(260 / 940 * 100%);
          flex: 0 0 calc(260 / 940 * 100%);
  max-width: 340px;
}

@media screen and (max-width: 1199px) {
  .products__card:not(:first-child) {
    margin-top: 44px;
  }
}

.products__link {
  display: block;
  text-decoration: none;
  color: #333333;
}

.products__link:hover img {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.products__img {
  overflow: hidden;
}

.products__img img {
  width: 100%;
  height: 100%;
  -webkit-transition: all .4s ease-out 0s;
  transition: all .4s ease-out 0s;
}

.products__text {
  font-size: 0.875rem;
  line-height: 1.71429;
  margin-top: 20px;
}

.products__price {
  font-size: 0.875rem;
  line-height: 1.71429;
  color: #989898;
  margin-top: 10px;
}

.products__btn {
  display: inline-block;
  text-decoration: none;
  background-color: #FFF;
  color: #3EA1D1;
  border: 1px solid #3EA1D1;
  font-family: "ヒラギノ明朝 ProN", "Hiragino Mincho ProN", "Yu Mincho Light", "YuMincho", "Yu Mincho", "游明朝体", serif;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.71429;
  letter-spacing: 1.4px;
  padding: 10px 52px;
  cursor: pointer;
  -webkit-transition: all .4s ease 0s;
  transition: all .4s ease 0s;
  margin-top: 48px;
}

@media screen and (max-width: 1199px) {
  .products__btn {
    margin-top: 44px;
  }
}

/* -------------------------
お知らせ｜News
------------------------- */
.news__cards {
  max-width: 1040px;
  margin: 44px auto 0;
}

@media screen and (max-width: 767px) {
  .news__cards {
    margin: 42px 4.5vw 0;
  }
}

.news__card {
  position: relative;
  border-bottom: 1px solid rgba(112, 112, 112, 0.12);
  padding: 22px 0;
}

@media screen and (max-width: 767px) {
  .news__card {
    padding: 22px 0 20px;
  }
}

.news__link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: #333333;
}

@media screen and (max-width: 767px) {
  .news__link {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.news__link:hover img {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.news__img {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 260px;
      -ms-flex: 0 0 260px;
          flex: 0 0 260px;
  overflow: hidden;
}

@media screen and (max-width: 767px) {
  .news__img {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}

.news__img img {
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all .4s ease-out 0s;
  transition: all .4s ease-out 0s;
}

@media screen and (max-width: 767px) {
  .news__img img {
    width: 100vw;
    height: 100%;
  }
}

.news__container {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 100%;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
  margin-left: 40px;
}

@media screen and (max-width: 767px) {
  .news__container {
    margin-left: 0;
  }
}

.news__date {
  font-size: 0.875rem;
  line-height: 1.71429;
}

@media screen and (max-width: 767px) {
  .news__date {
    margin-top: 20px;
  }
}

.news__title {
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.72222;
  margin-top: 5px;
}

@media screen and (max-width: 767px) {
  .news__title {
    font-size: 1rem;
    line-height: 1.6875;
  }
}

.news__text {
  font-size: 0.875rem;
  line-height: 1.71429;
  color: #888888;
  margin-top: 12px;
}

@media screen and (max-width: 767px) {
  .news__text {
    margin-top: 15px;
  }
}

.news__btn {
  display: inline-block;
  text-decoration: none;
  background-color: #FFF;
  color: #3EA1D1;
  border: 1px solid #3EA1D1;
  font-family: "ヒラギノ明朝 ProN", "Hiragino Mincho ProN", "Yu Mincho Light", "YuMincho", "Yu Mincho", "游明朝体", serif;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.71429;
  letter-spacing: 1.4px;
  padding: 10px 52px;
  cursor: pointer;
  -webkit-transition: all .4s ease 0s;
  transition: all .4s ease 0s;
  margin-top: 47px;
}

/* -------------------------
コンセプト2｜Concept2
------------------------- */
.concept2__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  margin-top: 160px;
}

@media screen and (max-width: 1199px) {
  .concept2__wrapper {
    display: block;
    margin-top: 96px;
  }
}

.concept2__img {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 50%;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.concept2__img img {
  width: 100%;
  height: 100%;
}

.concept2__container {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 50%;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  margin-right: 6.6667%;
}

@media screen and (max-width: 1199px) {
  .concept2__container {
    margin-right: 0;
  }
}

.concept2__title {
  font-size: 1.75rem;
  font-weight: 600;
  line-height: 1.71429;
}

@media screen and (max-width: 1199px) {
  .concept2__title {
    font-size: 1.25rem;
    line-height: 1.7;
    margin-top: 34px;
  }
}

.concept2__text {
  margin-top: 32px;
}

@media screen and (max-width: 1199px) {
  .concept2__text {
    font-size: 0.875rem;
    line-height: 1.71429;
    margin-top: 20px;
  }
}

/* -------------------------
問合せ｜Contact
------------------------- */
.contact {
  background: #FFF url(../../../public/assets/img/PC/contact.png) no-repeat center center/cover;
  margin-top: 225px;
  padding: 72px 40px 84px;
}

@media screen and (max-width: 767px) {
  .contact {
    margin-top: 90px;
    padding: 56px 7vw 58px;
  }
}

.contact__sectionTitle {
  color: #3EA1D1;
}

.contact__wrapper {
  max-width: 510px;
  margin: 76px auto 0;
}

@media screen and (max-width: 767px) {
  .contact__wrapper {
    margin-top: 44px;
  }
}

.contact__attention {
  font-size: 0.875rem;
  line-height: 1.71429;
  letter-spacing: 1.4px;
  text-align: center;
}

.contact__attention span {
  color: #E7728E;
  letter-spacing: 1.6px;
}

.contact__items {
  margin-top: 18px;
}

@media screen and (max-width: 767px) {
  .contact__items {
    margin-top: 26px;
  }
}

.contact__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 767px) {
  .contact__item {
    display: block;
  }
}

.contact__item:not(:first-child) {
  margin-top: 32px;
}

.contact__label {
  display: block;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 172px;
      -ms-flex: 0 0 172px;
          flex: 0 0 172px;
  height: 40px;
  background-color: #3EA1D1B3;
  color: #FFF;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 40px;
  text-align: center;
  padding-right: 4px;
  position: relative;
  margin-right: 16px;
}

@media screen and (max-width: 767px) {
  .contact__label {
    display: inline-block;
    height: 32px;
    font-size: 0.875rem;
    line-height: 32px;
    padding: 0 26px 0 15px;
    margin-right: 0;
    margin-bottom: 4px;
  }
}

.contact__label span {
  display: inline-block;
  position: relative;
}

.contact__label span::before {
  content: "＊";
  position: absolute;
  top: -6px;
  right: -12px;
  font-size: 0.75rem;
  color: #E7728E;
}

.contact__label::before {
  content: "";
  position: absolute;
  top: 0;
  left: 100%;
  width: 12px;
  height: 40px;
  border-style: solid;
  border-width: 20px 6px 20px 6px;
  border-color: transparent transparent transparent #3EA1D1B3;
}

@media screen and (max-width: 767px) {
  .contact__label::before {
    display: none;
  }
}

.contact__input {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 100%;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
}

.contact__name, .contact__mail, .contact__textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #FFF;
  border: none;
  border-radius: 2px;
  -webkit-box-shadow: 5px 5px 15px rgba(96, 96, 96, 0.16);
          box-shadow: 5px 5px 15px rgba(96, 96, 96, 0.16);
  width: 100%;
  font-size: 0.875rem;
  padding: .2em .5em;
}

.contact__name, .contact__mail {
  height: 40px;
}

.contact__textarea {
  resize: vertical;
  min-height: 122px;
}

.contact__radio {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  -webkit-box-shadow: 5px 5px 15px rgba(96, 96, 96, 0.16);
          box-shadow: 5px 5px 15px rgba(96, 96, 96, 0.16);
  border-radius: 1px;
}

.contact__radio-input {
  position: absolute;
  opacity: 0;
}

.contact__radio-input:nth-of-type(1) {
  top: 0;
  left: 0;
}

.contact__radio-input:nth-of-type(2) {
  top: 0;
  left: 79px;
}

.contact__radio-input:checked + .contact__radio-label {
  background-color: #3EA1D1;
  color: #FFF;
}

.contact__radio-input:focus + .contact__radio-label {
  outline: -webkit-focus-ring-color auto 1px;
}

.contact__radio-label {
  background-color: #FFF;
  color: #3EA1D1;
  width: 79px;
  height: 40px;
  line-height: 38px;
  letter-spacing: 1.6px;
  text-align: center;
  border: 1px solid #FFF;
  border-radius: 1px;
  cursor: pointer;
}

.contact__footer {
  text-align: center;
  margin-top: 20px;
}

@media screen and (max-width: 767px) {
  .contact__footer {
    margin-top: 16px;
  }
}

.contact__footer-privacy {
  position: relative;
  display: inline-block;
}

.contact__footer-link {
  color: #3EA1D1;
  text-decoration: underline;
  margin-left: 30px;
}

.contact__footer-btn {
  margin-top: 45px;
}

@media screen and (max-width: 767px) {
  .contact__footer-btn {
    margin-top: 24px;
  }
}

.contact__footer-btn input {
  display: inline-block;
  text-decoration: none;
  background-color: #FFF;
  color: #3EA1D1;
  border: 1px solid #3EA1D1;
  font-family: "ヒラギノ明朝 ProN", "Hiragino Mincho ProN", "Yu Mincho Light", "YuMincho", "Yu Mincho", "游明朝体", serif;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.71429;
  letter-spacing: 1.4px;
  padding: 10px 52px;
  cursor: pointer;
  -webkit-transition: all .4s ease 0s;
  transition: all .4s ease 0s;
  cursor: not-allowed;
}

.contact__footer-btn input.is-active {
  background-color: #3EA1D1;
  color: #FFF;
  cursor: pointer;
}

.contact__checkbox {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.contact__checkbox:checked + .contact__agree {
  border-top-color: transparent;
  border-left-color: transparent;
  width: 11px;
  top: -6px;
  left: 6px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.contact__checkbox:focus + .contact__agree {
  outline: -webkit-focus-ring-color auto 1px;
}

.contact__checkbox:focus:checked + .contact__agree {
  outline: none;
}

.contact__agree {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto 0;
  width: 22px;
  height: 22px;
  border: 1px solid #3EA1D1;
  cursor: pointer;
  -webkit-transition: all .3s ease 0s;
  transition: all .3s ease 0s;
}

.contact__message {
  text-align: center;
  font-weight: 600;
  display: none;
}

.contact__message.error {
  color: red;
}

/* -------------------------
フッター
------------------------- */
.footer {
  width: 100vw;
  height: 220px;
  background-color: #F7F7F7;
  z-index: 10;
  padding: 42px 40px 0;
}

@media screen and (max-width: 767px) {
  .footer {
    height: 230px;
    padding: 36px 15px 0;
  }
}

.footer__logo {
  width: 120px;
  margin: 0 auto;
}

.footer__logo-link {
  display: block;
  line-height: 1.6px;
  padding: 5px;
}

.footer__logo-link img {
  vertical-align: middle;
}

.footer__nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 14px;
}

@media screen and (max-width: 767px) {
  .footer__nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.footer__nav-item {
  font-size: 0.75rem;
  letter-spacing: 0;
  line-height: 1em;
}

.footer__nav-item:first-child {
  margin-right: 32px;
}

@media screen and (max-width: 767px) {
  .footer__nav-item:first-child {
    margin-right: 0;
    margin-bottom: 6px;
  }
}

.footer__nav-link {
  display: block;
  color: #333333;
  padding: 5px;
}

.footer__sns {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 25px;
}

@media screen and (max-width: 767px) {
  .footer__sns {
    margin-top: 22px;
  }
}

.footer__sns-item:not(:last-child) {
  margin-right: 30px;
}

.footer__sns-link {
  display: block;
  line-height: 1.6px;
  padding: 5px;
}

.footer__sns-link i {
  width: 100%;
  height: 100%;
  font-size: 22px;
  color: #3EA1D1;
}

.footer__copyright {
  width: 100%;
  text-align: center;
  font-size: 0.75rem;
  line-height: 1em;
  color: #888888;
  margin-top: 16px;
}

@media screen and (max-width: 767px) {
  .footer__copyright {
    margin-top: 12px;
  }
}

.footer a {
  -webkit-transition: all .4s ease 0s;
  transition: all .4s ease 0s;
}

.footer a:hover {
  opacity: .7;
}
/*# sourceMappingURL=style.css.map */